.btn {
  height: 2rem;
  border: none;
  padding: 0 $s-size 0 $s-size;
}

.md {
  font-size: $font-size-lg;
  height: 4.5rem;
}

.blue-bg {
  background-color: $blue;
  color: white;
  font-weight: 100;
}
